/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  /* Animations */
  --animation-intensity: 0.3;
  --animation-duration: 1s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}

header {
  margin: 1rem;
}

header > h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: normal;
  color: var(--primary);
}

header > span {
  color: var(--highlight-primary);
}

section {
  max-width: 90vw;
}

a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;

  animation-timing-function: ease-in-out;
  animation-duration: var(--animation-duration);

  animation-iteration-count: 1;
  transition: 0.5s;
  transition-property: transform, background-color;
}

#permission {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
  margin-top: 4rem;
  cursor: pointer;
}

a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
}

.horizontal-shake {
  animation-name: horizontal-shake;
}

.vertical-shake {
  animation-name: vertical-shake;
}

.rotational-shake {
  animation-name: rotational-shake;
}

.grow {
  animation-name: grow;
  animation-duration: calc(0.5 * var(--animation-duration));
}

.red {
  background: var(--highlight-secondary);
}

.grow-vertical {
  transform: scaleY(1.1);
}

.grow-horizontal {
  animation-name: grow-horizontal;
  animation-duration: calc(0.5 * var(--animation-duration));
}

.shrink-horizontal {
  animation-name: shrink-horizontal;
  animation-duration: calc(0.5 * var(--animation-duration));
}

.shrink-vertical {
  animation-name: shrink-vertical;
  animation-duration: calc(0.5 * var(--animation-duration));
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */
@keyframes horizontal-shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(calc(-1rem * var(--animation-intensity)));
  }
  20% {
    transform: translateX(calc(1rem * var(--animation-intensity)));
  }
  30% {
    transform: translateX(calc(-1rem * var(--animation-intensity)));
  }
  40% {
    transform: translateX(calc(1rem * var(--animation-intensity)));
  }
  50% {
    transform: translateX(calc(-1rem * var(--animation-intensity)));
  }
  60% {
    transform: translateX(calc(1rem * var(--animation-intensity)));
  }
  70% {
    transform: translateX(calc(-1rem * var(--animation-intensity)));
  }
  80% {
    transform: translateX(calc(1rem * var(--animation-intensity)));
  }
  90% {
    transform: translateX(calc(-1rem * var(--animation-intensity)));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes vertical-shake {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(calc(-1rem * var(--animation-intensity)));
  }
  20% {
    transform: translateY(calc(1rem * var(--animation-intensity)));
  }
  30% {
    transform: translateY(calc(-1rem * var(--animation-intensity)));
  }
  40% {
    transform: translateY(calc(1rem * var(--animation-intensity)));
  }
  50% {
    transform: translateY(calc(-1rem * var(--animation-intensity)));
  }
  60% {
    transform: translateY(calc(1rem * var(--animation-intensity)));
  }
  70% {
    transform: translateY(calc(-1rem * var(--animation-intensity)));
  }
  80% {
    transform: translateY(calc(1rem * var(--animation-intensity)));
  }
  90% {
    transform: translateY(calc(-1rem * var(--animation-intensity)));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotational-shake {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(calc(-30deg * var(--animation-intensity)));
  }
  20% {
    transform: rotate(calc(30deg * var(--animation-intensity)));
  }
  30% {
    transform: rotate(calc(-30deg * var(--animation-intensity)));
  }
  40% {
    transform: rotate(calc(30deg * var(--animation-intensity)));
  }
  50% {
    transform: rotate(calc(-30deg * var(--animation-intensity)));
  }
  60% {
    transform: rotate(calc(30deg * var(--animation-intensity)));
  }
  70% {
    transform: rotate(calc(-30deg * var(--animation-intensity)));
  }
  80% {
    transform: rotate(calc(30deg * var(--animation-intensity)));
  }
  90% {
    transform: rotate(calc(-30deg * var(--animation-intensity)));
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow-horizontal {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes shrink-horizontal {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes shrink-vertical {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}