/* --global-- */
:root {
   --primary: #fff;
   --secondary: #050840;
   --highlight-primary:#7ce7c9;
   --highlight-secondary: #9d7beb;
   --radius:.5rem;
   --pill: 2rem;
}
* {
   box-sizing: border-box;
}
body{
   margin: 2rem; 
   padding: 0;
   font-family: "Open Sans", sans-serif;
   font-size: 2rem;
   background: var(--secondary);
}
section{
   max-width: 90vw;
}

/* 
   Button dingen
*/
a {
   display: inline-block;
   margin: .2em;
   padding: .4em 0.8em;
   background:var(--secondary);
   color: var(--highlight-primary);
   border: 1px solid var(--highlight-primary);
   border-radius: var(--pill);
   font-weight: normal;
   text-decoration: none;
}
a:hover {
   color: var(--primary);
   border: var(--primary);
}
.purple{
   background: var(--highlight-secondary);
   color: var(--secondary);
   border: var(--secondary);
}
